!DOCTYPE html>
<html lang="en" dir = "ltr">
<body>
<div class = 'content'>
<h1 align = "center">Predicting House price using Linear Regression Model</h1>
<div class= "form">
<form action = '/predict' method = "post">
<input type="number" id = "bedrooms" plceholder ="bedrooms" >
<input type="number" id="bathrooms" plceholder="bathrooms">
<input type="number" id="sqft_living" plceholder="sqft_living">
<input type="number" id="sqft_lot" plceholder="sqft_lot">
<input type="number" id="floors" plceholder="floors">
<input type="number" id="water front" plceholder="water front">
<input type="number" id="view" plceholder="view">
<input type="number" id="condition" plceholder="condition">
<input type="number" id="sqft_above" plceholder="sqft_above">
<input type="number" id="sqft_basement" plceholder="sqft_basement">
<input type="number" id="yr_built" plceholder="yr_built">
<input type="number" id="yr_renovated" plceholder="yr_renovated">

<input type="submit" value='Predict'>
</form>
</div>
</div>
</body>


